@import url('/css/base.css');

#games {
    display: flex;
    flex-direction: column;
    align-items: center;
}
#games-list {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
}
#games-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, 250px);
    grid-template-rows: 350px;
    grid-auto-rows: auto;

    gap: 10px;
    grid-gap: 10px;

    padding: 20px;

    width: 100%;
    justify-content: center;
}
.game {
    cursor: pointer;
    transition: 0.15s;
    padding: 20px 20px 0px 20px;
}
.game:hover {
    transition: 0.25s;
    padding: 0px 0px 20px 0px;
}
.game-info {
    transition: 0.25s;
    padding: 15px 15px 15px 15px;
    height: calc(100% - 30px);
    border-radius: 15px;

    background-color: var(--background-1);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}
.game-thumbnail {
    padding-bottom: 10px;
    aspect-ratio: 16 / 9;
    width: 100%;
}
.game-text {
    transition: 0.15s;
    text-align: center;
}
.game-title {
    font-size: 1.75em;
    font-weight: 700;
}
.game:hover > .game-info > .game-title {
    transition: 0.25s;
    font-size: 2.2em;
}
.game-description {
    font-size: 1em;
}
.game:hover > .game-info > .game-description {
    transition: 0.25s;
    font-size: 1.25em;
}